<div class="demoTable">
    <fieldset class="layui-elem-field">
        <legend>进货订单列表</legend>
        <div class="layui-field-box">
            <form class="layui-form" id="inbillForm" action="" style="display: inline-block;">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label ifLabel">进货日期</label>
                        <div class="layui-input-inline ifInput">
                            <input type="text" class="layui-input" id="inbillAccurateTime" placeholder="年-月-日">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label ifLabel">日期范围</label>
                        <div class="layui-input-inline ifInput">
                            <input type="text" class="layui-input" id="inbillRangeTime" placeholder="年-月-日~年-月-日">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label ifLabel">厂家：</label>
                        <div class="layui-input-inline ifInput">
                            <select name="factoryid" id="inbillfactoryid">
                                <option value="" selected="">请选择厂家</option>
                                <option ng-repeat = "factory in factorys" value="{{factory.id}}" >{{factory.factoryname}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label ifLabel">备注：</label>
                        <div class="layui-input-inline ifInput">
                            <input type="text" class="layui-input" id="inbillRemarks" placeholder="请输入关键词">
                        </div>
                    </div>

                </div>
            </form>
            <button class="layui-btn reloadBtn" data-type="search">筛选</button>
            <button class="layui-btn layui-btn-normal reloadBtn" data-type="return">清空</button>
            <button class="layui-btn layui-btn-normal" ng-click="exportToExcel(data)">导出Excel表格</button>
        </div>
    </fieldset>
</div>

<table class="layui-hide" id="LAY_table_inbill" lay-filter="inbill"></table>
<script type="text/html" id="toolBar">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">&nbsp;详情&nbsp;</a>
    <a class="layui-btn layui-btn-xs" lay-event="update">&nbsp;编辑&nbsp;</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">&nbsp;删除&nbsp;</a>
</script>
<div class="content-bottom">
    <a class="layui-btn" id="addInbillBtn" href="#/index/addinbill">添加记录</a>
</div>