<div class="demoTable">
    <fieldset class="layui-elem-field">
        <legend>码段列表</legend>
    </fieldset>
</div>

<table class="layui-hide" id="LAY_table_rangeSize" lay-filter="rangeSize"></table>
<script type="text/html" id="toolBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">&nbsp;编辑&nbsp;</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">&nbsp;删除&nbsp;</a>
</script>
<div class="content-bottom">
    <button class="layui-btn" id="addRangeSizeBtn">添加码段</button>
</div>