<div id="loginBack">
		<div class="login-header">
			<h1>童梦晴天货款管理系统</h1>
		</div>
		<div class="login-body">
			<div class="layui-row">
				<div class="layui-col-md4">
					<div class="">
						&nbsp;
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="login-from">
						<label class="login-title"><h3>童梦晴天货款管理系统</h3></label>
							<div class="layui-form-item login-form-item">
								<label class="layui-form-label">用户名</label>
								<div class="layui-input-block">
									<input type="text" name="username" id="loginUserName" autocomplete="off" placeholder="请输入用户名" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item login-form-item">
								<label class="layui-form-label">密码</label>
								<div class="layui-input-block">
									<input type="password" name="password" id="loginPassword" placeholder="请输入密码" autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item login-form-item">
								<button class="layui-btn login-btn" id="loginBtn">登&nbsp;&nbsp;录</button>
							</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="">
						&nbsp;
					</div>
				</div>
			</div>
		</div>
		<div class="login-footer">

		</div>
</div>